body{
font-family: Arial, sans-serif;
background:#f5f5f5;
margin:0;
}

/* Header */

header{
background:#b30000;
color:white;
text-align:center;
padding:20px;
}

/* Form Container */

.form-container{
width:70%;
margin:40px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* Two column layout */

.form-group{
display:flex;
gap:20px;
margin-bottom:15px;
}

input, select, textarea{
width:100%;
padding:12px;
border-radius:6px;
border:1px solid #ccc;
font-size:15px;
}

/* textarea */

textarea{
height:70px;
margin-bottom:15px;
}

/* Register button */

.register-btn{
width:100%;
padding:12px;
background:#e60000;
color:white;
font-size:18px;
border:none;
border-radius:6px;
cursor:pointer;
}

.register-btn:hover{
background:#b30000;
}

/* Back button */

.back-btn{
margin-top:15px;
padding:10px 20px;
background:#333;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.back-btn:hover{
background:black;
}